html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
  background-color: #ffffff;
}