.catalog {
    position:relative;
    padding-top: 220px;
    padding-bottom: 116px;
}
.catalog__container {
    position: relative;
    z-index: 1;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}
.catalog__background-image {
    position: absolute;
    top: 0;
    left: 32px;

    width: 790px;
    height: 697px;

    background-image: url("/images/bg_dandelions.png");
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 0;
    pointer-events: none;
}
.catalog__title {
    max-width: 846px;
    margin: 0 auto;
    text-align: center;
    
    font-size: 70px;
    line-height: 78px;
    font-weight: 400;
}
.catalog__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 178px;
    max-width: 1100px;
    justify-content: center;
    gap: 32px;
    position: relative;
    z-index: 1;
}
.product-card {
    width: 340px;
    background-color: #E5E5E5;
    padding: 35px;
    box-sizing: border-box;

}
.product-card__image {
    width: 280px;
    height: 245px;
    display:block;
    margin: 0 auto;
    object-fit: contain;
}
.product-card__type {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}
.product-card__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700px;
}
.product-card__description {
    margin-bottom: 12px;
}
.product-card__composition-title {
    margin-bottom: 2px;
}
.product-card__composition {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-card___composition-item {
    padding-left: 0;
}
.product-card__composition-item::before {
    content: "\25CB";
    display: inline-block;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}
 .product-card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 290px;
    line-height: 24px;
    margin-top: auto;
    padding-top: 16px;
}
.product-card__price-label {
    font-size: 20px;
    font-weight: 700;
}
.product-card__price-value {
    font-size: 20px;
}